{{>nav}}

<div class="container bg-secondary">
    <div class="header text-center"> 
        <h1 style="color: white"> Checkout </h1>
    </div>
    <div class="container dishes"> 
        <div class="row">
            {{#if dish}}
                {{#each dish}}
                    {{>dishes}}
                {{/each}}
            {{else}}
                <div class="error text-center">
                    <h2 style="color: white"> Your Cart is Empty! </h2>
                </div>
            {{/if}}
            
                
            
        </div>
    </div>
</div>