.card {
    max-width: 100em;
    height:150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card img {
    margin: auto;
    max-width: 25%;
    padding:0.5em;
}

.card-body {
    display:flex;
    justify-content: space-between;
}

.text-section {
    max-width:60%;
}

.card-title {
    font-size: large;
}